:root {
    --color1: #D9C6B0;
}

p{
    color: var(--color1);
}

.listMenu {
    list-style-type: none;
}

.listMenu li {
    display: flex;
}

.listMenu span {
    margin-left: 10px;
}

.btnTwitter {
    width: 150px;
}

.iconTwitter {
    padding: 20px 0px 20px 0px;
}

button {
    border: none;
}